
input::placeholder {
    color: #999;
  }
  
  body {
    overflow: hidden;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .btn {
    font-weight: 500;
  }
  .password-group {
    border: 1px solid white;
    border-radius: 6px;
    display: flex;
    overflow: hidden;
  }
  
  /* Remove inner borders */
  .password-group .form-control,
  .password-group .btn {
    border: none !important;
    box-shadow: none !important;
  }
  
  /* Blue border when input or button is focused */
  .password-group:focus-within {
    border: 1px solid #0d6efd;
  }
  .email-disabled {
    opacity: 0.6;
  }