<div
  class="position-fixed top-0 start-0 w-100 h-100 bg-secondary bg-opacity-75 d-flex flex-column justify-content-center align-items-center z-3">
  <div class="bg-black text-white rounded-4 shadow-lg p-4 w-100" style="max-width: 530px; min-height: 600px;">
    
    <div *ngIf="!showSpinner">
      <!-- Close -->
      <div class="d-flex justify-content-start">
        <button class="btn-close btn-close-white" aria-label="Close" [routerLink]="['/']"></button>
      </div>

      <!-- X Logo -->
      <div class="text-center mb-3">
        <span class="fs-2 fw-bold">𝕏</span>
      </div>

      <!-- Title -->
      <h4 class="fw-bold text-white mb-3 text-center">Enter your password</h4>

      <div class="w-75 mx-auto d-flex flex-column">

        <!-- Email (disabled) -->
        <div class="form-group mb-3 w-100">
            <input
              type="text"
              class="form-control bg-black text-secondary border-secondary rounded-1 p-3 email-disabled"
              [value]="email"
              disabled
            />
          </div>
          

        <!-- Password with toggle -->
        <div class="form-floating mb-3 position-relative">
            <input
              #passwordInput
              type="{{ showPassword ? 'text' : 'password' }}"
              class="form-control bg-black"
              id="floatingPassword"
              placeholder=""
              [(ngModel)]="password"
              (focus)="isFocused = true"
              (blur)="isFocused = false"
            />
            <label
              for="floatingPassword"
              [class.text-white]="!password && !isFocused"
              [class.text-primary]="password || isFocused"
            >
              Password
            </label>
          </div>

        <!-- Forgot password -->
        <div class="mb-4">
          <a href="#" class="text-primary small">Forgot password?</a>
        </div>

        <!-- Login button -->
        <button
          class="btn btn-light w-100 rounded-pill"
          [disabled]="!password"
          (click)="login()">
          Log in
        </button>

        <!-- Signup link -->
        <p class="text-secondary text-center small mt-3 mb-0">
          Don't have an account?
          <a class="text-primary text-decoration-none pointer" (click)="goToSignup()">Sign up</a>
        </p>
      </div>
    </div>
  </div>
</div>
