/* input::placeholder {
    color: #999;
  }
  
  .btn {
    font-weight: 500;
  }
  
  body {
    overflow: hidden;
  }
  .pointer{
    cursor: pointer;
  } */

  input::placeholder {
    color: #999;
  }
  
  body {
    overflow: hidden;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .btn {
    font-weight: 500;
  }
  