 <div class="position-fixed top-0 start-0 w-100 h-100 bg-black bg-opacity-75 d-flex justify-content-center align-items-center z-3">
    <div class="bg-black text-white rounded-4 shadow-lg p-4 w-100" style="max-width: 550px;">

      <!-- Close Button -->
      <div class="d-flex justify-content-end">
        <button class="btn-close btn-close-white" aria-label="Close"  [routerLink]="['']"></button>
      </div>
  
      <!-- X logo -->
      <div class="text-center mb-3">
        <span class="fs-2 fw-bold">𝕏</span>
      </div>
  
      <!-- Title -->
      <div class="px-4 px-sm-5">
        <h4 class="fw-bold text-white mb-3">Sign in to X</h4>
  
        <!-- Input -->
        <div class="form-group mb-3">
          <input type="text" class="form-control bg-black text-white border-secondary rounded-1 p-3" placeholder="Email" [(ngModel)]="email" />
        </div>

         <!-- Input -->
         <div class="form-group mb-3">
          <input type="text" class="form-control bg-black text-white border-secondary rounded-1 p-3" placeholder="Password" [(ngModel)]="password" />
        </div>
  
        <!-- Buttons -->
        <button class="btn btn-light w-100 mb-3 rounded-pill" (click)="goToXlayout()">Next</button>
        <button class="btn btn-dark w-100 mb-3 rounded-pill border border-secondary text-white">Forgot password?</button>
  
        <!-- Signup link -->
        <p class="text-secondary text-center small mb-0">
          Don't have an account?
          <a class="text-primary text-decoration-none pointer" (click)="goToSignup()">Sign up</a>
        </p>
      </div>
    </div>
  </div>
  
  