/* 
  input::placeholder {
    color: #999;
  }
  
  body {
    overflow: hidden;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .btn {
    font-weight: 500;
  }
   */

:host {
  display: block;
  color-scheme: dark;
}

/* Default background for desktop */
.dark-bg {
  background-color: #15202b;
}

/* Override for mobile */
@media (max-width: 576px) {
  .dark-bg {
    background-color: #000 !important;
  }
}
