input::placeholder {
    color: #999;
  }
  
  body {
    overflow: hidden;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .email {
    font-size: 12px;
    color: dimgray;
  }
  
  .anchor {
    font-size: 13px;
    text-decoration: none;
  }
  
  .custom-black-input {
    background-color: #000;
    color: #fff;
    border: 1px solid #ced4da;
    border-radius: 6px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .custom-black-input::placeholder {
    color: #aaa;
  }
  
  .custom-black-input:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
  }
  
  .blue-label {
    color: #0d6efd;
  }
  /* Input Styles */
.custom-black-input {
  background-color: black;
  color: white;
  border: 1px solid #555;
  padding: 1.2rem 0.75rem 0.4rem;
}

/* Label Default */
.floating-label {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  color: rgb(221, 215, 215);
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

/* Label when active (on focus or has value) */
.floating-label.active {
  top: 0.3rem;
  font-size: 0.75rem;
  color: #1d9bf0; /* blue on focus */
}

  