/* input::placeholder {
    color: #999;
  }
  
  .btn {
    font-weight: 500;
  }
  
  body {
    overflow: hidden; 
  }
  .pointer{
    cursor: pointer;
  }
  .email{
    font-size: 12px;
    color:dimgray;
  }
  .terms{
     font-size: 10px;
     margin-top: 120px;
  }
  .custom-black-input {
    background-color: #000;    
    color: #fff;                
    border: 1px solid #ced4da;
    border-radius: 6px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .custom-black-input::placeholder {
    color: #aaa;                
  }
  
  .custom-black-input:focus {
    border-color: #0d6efd;      
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
  }
  
  .blue-label {
    color: #0d6efd;            
  }
   */


   input::placeholder {
    color: #999;
  }
  
  body {
    overflow: hidden;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .email {
    font-size: 12px;
    color: dimgray;
  }
  
  .terms {
    font-size: 10px;
    color: #aaa;
    margin-top: 3rem;
    line-height: 1.4;
  }
  
  .anchor {
    font-size: 13px;
    text-decoration: none;
  }
  
  .custom-black-input {
    background-color: #000;
    color: #fff;
    border: 1px solid #ced4da;
    border-radius: 6px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .custom-black-input::placeholder {
    color: #aaa;
  }
  
  .custom-black-input:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
  }
  
  .blue-label {
    color: #0d6efd;
  }
  
  
  
 