 <div class="position-fixed top-0 start-0 w-100 h-100 bg-black bg-opacity-75 d-flex justify-content-center align-items-center z-3">
    <div class="bg-black text-white p-4 rounded-4 shadow-lg w-100" style="max-width: 550px; height: auto;">
  
      <!-- X logo -->
      <div class="text-center mb-3">
        <span class="fs-2 fw-bold">𝕏</span>
      </div>
  
      <!-- Title and subtitle -->
      <div class="px-4 px-sm-5">
        <h4 class="fw-bold text-white mb-3">You'll need a Password</h4>
        <p class="email mb-3">Make sure it's 8 characters or more</p>
  
        <!-- Input -->
        <div class="form-floating mb-3">
          <input type="password" class="form-control custom-black-input" id="floatingInput" placeholder="">
          <label for="floatingInput" class="blue-label">Password</label>
        </div>
  
        <!-- Terms -->
        <p class="terms">
          By signing up, you agree to the 
          <a href="">Terms of Service</a> and 
          <a href="">Privacy Policy</a>, including 
          <a href="">Cookie Use</a>. X may use your contact information, including your email address and phone number for purposes outlined in our Privacy Policy, like keeping your account secure and personalizing our services, including ads. 
          <a href="">Learn more</a>. Others will be able to find you by email or phone number when provided, unless you choose otherwise 
          <a href="">here</a>.
        </p>
        <div id="recaptcha-container"></div>

        
        <!-- Button -->
        <button class="btn btn-light w-100 rounded-pill mt-4" [routerLink]="['/x-layout']">Next</button>
      </div>
      
    </div>
  </div>
  