<div
  class="position-fixed top-0 start-0 w-100 h-100 bg-secondary bg-opacity-75 d-flex justify-content-center align-items-center z-3">
  <div class="bg-black text-white p-4 rounded-4 shadow-lg w-100 position-relative" 
    style="max-width: 500px; min-height: 584px;">

    <!-- X logo -->
    <div class="text-center mb-3">
      <span class="fs-2 fw-bold">𝕏</span>
    </div>

    <!-- Title and subtitle -->
    <div class="px-4 px-sm-5">
      <h4 class="fw-bold text-white">You'll need a Password</h4>
      <p class="character">Make sure it's 8 characters or more.</p>

      <!-- Input -->
      <div class="form-floating mb-3">
        <input   #passwordInput
        type="password"
        class="form-control custom-black-input"
        id="floatingInput"
        placeholder=""
        [(ngModel)]="enteredPassword"
        (focus)="isFocused = true"
        (blur)="isFocused = false"
      />
          <label
          for="floatingInput"
          [class.text-white]="!enteredPassword && !isFocused"
          [class.text-primary]="enteredPassword || isFocused"
        >
          Password
        </label>
        <div *ngIf="passwordError" class="text-danger small mt-1">
          {{ passwordError }}
        </div>
      </div>

      <!-- Terms -->
      <p class="terms">
        By signing up, you agree to the
        <a href="">Terms of Service</a> and
        <a href="">Privacy Policy</a>, including
        <a href="">Cookie Use</a>. X may use your contact information, including your email address and phone number for
        purposes outlined in our Privacy Policy, like keeping your account secure and personalizing our services,
        including ads.
        <a href="">Learn more</a>. Others will be able to find you by email or phone number when provided, unless you
        choose otherwise
        <a href="">here</a>.
      </p>
      <div id="recaptcha-container"></div>


      <!-- Button -->
      <button
      class="btn btn-light w-100 rounded-pill" (click)="validateAndContinue()"
      [disabled]="!enteredPassword || enteredPassword.length < 8"
    >
      Sign up
    </button>
    </div>

  </div>
</div>