<div class="position-fixed top-0 start-0 w-100 h-100 bg-black bg-opacity-75 d-flex justify-content-center align-items-center z-3">
    <div class="bg-black text-white p-4 rounded-4 shadow-lg w-100" style="max-width: 550px; height: auto;">
  
      <!-- X logo and close -->
      <div class="text-center mb-3">
        <span class="fs-2 fw-bold">𝕏</span>
      </div>
  
      <!-- Title -->
      <div class="px-3 px-md-5">
        <h4 class="fw-bold mb-3">We sent you a code</h4>
        <p class="email mb-3">Enter it below to verify {{ email }}</p>
  
        <!-- Input Field -->
        <div class="form-floating mb-2">
          <input type="text" class="form-control custom-black-input" id="floatingInput" placeholder="" [(ngModel)]="enteredCode">
          <label for="floatingInput" class="blue-label">Verification code</label>
          <a href="#" class="anchor d-block mt-1">Didn't receive email?</a>
        </div>
  
        <!-- Button -->
        <button class="btn btn-light w-100 rounded-pill mt-4" (click)="verifyCode()">Next</button>
      </div>
  
    </div>
  </div>
  