.container-fluid {
  padding: 0;
  height: 100vh;
}
#termsOfPolicy {
  font-size: 11px !important;
}
/* Make sure flex column on small devices */
@media (max-width: 767.98px) {
  .container-fluid {
    flex-direction: column !important;
  }

  h1 {
    font-size: 2.5rem !important;
  }

  h2 {
    font-size: 1.5rem !important;
  }

  button {
    width: 100% !important;
  }

  #termsOfPolicy {
    font-size: 0.75rem !important;
  }
}

/* General styles */
img {
  max-width: 100%;
  height: auto;
}

button img {
  margin-right: 10px;
}

button:hover {
  opacity: 0.9;
  transition: 0.3s ease-in-out;
}

.btn-light {
  border: 1px solid #ddd;
}

a {
  cursor: pointer;
}
