.inputbox {
  width: 360px;
}
.subscribetopremium {
  width: 360px;
  border-radius: 10px;
}
.subscribetopremium h5 {
  font-weight: bold;
}
.subscribetopremium p {
  font-size: 14px;
}
.whatshappening {
  width: 360px;
  border-radius: 10px;
}
.whatshappening p {
  margin-bottom: 0;
}
.showpost {
  height: 40px;
}
h6 img {
  border-radius: 50%;
}
.patcumminsimg {
  border-radius: 20px;
}
#sunriseblur {
  font-size: 0.85rem;
  filter: blur(0.3px);
  opacity: 0.6;
}
.textbottom {
  font-size: 0.85rem;
  filter: blur(0.3px);
  opacity: 0.6;
}
.commenticons {
  font-size: 0.85rem;
  filter: blur(0.3px);
  opacity: 0.6;
}
.textwhathappening {
  filter: blur(0.3px);
  opacity: 0.6;
}
.margin_2 {
  min-width: 350px;
}
.marginsize {
  margin-left: 40px;
}
.textcolor {
  font-size: 0.8rem;
  filter: blur(0.3px);
  opacity: 0.6;
}
.centered {
  margin-left: 250px;
  margin-top: 300px;
}
