<div class="container-fluid vh-100 bg-black text-white">
    <div class="row h-100"> <!-- ADD h-100 HERE -->
        <div class="col">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col h-100 border border-secondary border-top-0 border-bottom-0 margin_2">
            <div class="row">
                <h5>Messages</h5>
                <div class="row text-center mt-2 ">
                    <h3 style="text-align: justify;" class="marginsize">Welcome to your <br> inbox!</h3>
                    <p class="textcolor marginsize" style="text-align: justify;">Drop a line, share posts and more with
                        private <br> conversations between you and others on X. </p>
                    <button class="btn btn-primary rounded-pill w-50 ms-5">Write a message</button>
                </div>
            </div>
        </div>
        <div class="col-6 h-100 border border-secondary border-top-0 border-start-0 border-bottom-0 margin_3 me-5">
            <div class="row centered">

                <h3 style="text-align: justify;">Select a message</h3>
                <p class="" style="text-align: justify;">Choose from your existing conversations, start a <br> new one,
                    or just keep swimming.</p>
                <button class="btn btn-primary rounded-pill w-25 ms-5">New message</button>

            </div>
        </div>
    </div>
</div>